.list {
  width: 1170px;
  min-height: 650px;
  margin: 2em auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7F8C8D;
    font-size: 12px;
  }
}
